require 'rails_helper'

feature 'User signs in' do
  scenario 'with valid credentials' do
    user = create :user

    sign_in user

    expect(page).to have_text 'Signed in successfully.'
  end

  scenario 'with invalid credentials' do
    user = build :user

    sign_in user

    expect(page).to have_text 'Invalid Email or password.'
  end
end
